{% extends "cms/base.html" %}

{% block title %}recoman_recommend{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom text-center">recoman_recommend</h4>
    <label for="select_manga">漫画の設定</label>
    <div>
        <form action="">
            {#            <div>{{ form }}</div>#}
            <input type="button" value="送信" id="send"/>
        </form>
    </div>

    <script type="text/javascript">

        $(function () {
            // Ajax button click
            $('#send').on('click', function () {
                alert("hoge")
            });
        });

    </script>
{% endblock content %}
